<%= form_for(@personage) do |f| %>
  <% if @personage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personage.errors.count, "error") %> prohibited this personage from being saved:</h2>

      <ul>
      <% @personage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :First_name %><br>
    <%= f.text_field :name %>
  </div>

    <div class="field">
      <%= f.label :Last_name %><br>
      <%= f.text_field :lastname %>
    </div>

  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday, :order => [:day, :month, :year], :start_year=>1900,:end_year=>2015 %>
  </div>

  <div class="actions">
    <%= f.submit  "Create"%>
  </div>
<% end %>
