<p id="notice"><%= notice %></p>

<h1>Listing Personages</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Birthday</th>
      <th>Daysalive</th>
      <th>Martian</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personages.each do |personage| %>
      <tr>
        <td><%= personage.name %></td>
        <td><%= personage.lastname %></td>
        <td><%= personage.birthday %></td>
        <td><%= personage.daysalive %></td>
        <td><%= personage.martian %></td>
        <td><%= personage.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create', new_personage_path %>
