<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @personage.name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @personage.lastname %>
</p>


<p>
  <strong>Birthday:</strong>
  <%= @personage.birthday %>
</p>

<p>
  <strong>Daysalive:</strong>
  <%= @personage.daysalive %>
</p>


<p>
  <strong>Martian days:</strong>
  <%= @personage.martian %>
</p>

<%= link_to 'Edit', edit_personage_path(@personage) %> |
<%= link_to 'Back', personages_path %>
